[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "<3,>=2"
jsonpath-ng = "*"

[dev-packages]
ruff = "*"
pytest = "*"
pytest-cov = "*"
pytest-socket = "*"

[requires]
python_version = "3.13"
